* {
    margin:0;
    padding:0;
    }
.App{
    width: 100%;
    height: 100vh;
    display: flex;
    border: 2px solid black;
    padding: 10px;
    justify-content: center;  
    align-items: center;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(13,228,175,1) 77%);
}

.todo-form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

}

.todo-input{
    margin: 10px;
    padding: 10px;
    width: 100%;
    max-width: 400px;
    height: 30px;
    border: 2px solid beige;
    background: transparent;
    color: beige;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.todo-input::placeholder {
    color: beige;
    font-size: 15px;
  }

.button-33 {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-row {
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(13,228,175,1) 77%);
    margin: 10px;
    width: 100%;
    max-width: 600px;
    border-radius: 8px;
}
.complete{
    text-decoration: line-through;
    opacity: 0.4;
}
.icons {
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
  }
  
  .delete-icon {
    margin-right: 5px;
    color: #fff;
  }
  
  .edit-icon {
    color: #fff;
  }

  .todo-input.edit {
    border: 2px solid #149fff;
  }
  
  .todo-button.edit {
    background: linear-gradient(
      90deg,
      rgba(20, 159, 255, 1) 0%,
      rgba(17, 122, 255, 1) 100%
    );
    padding: 16px 22px;
  }
  
  .todo-container {
    display: flex;
    flex-direction: row;
    position: relative;
  }
  .icons , .text {
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .container{
    background-color: black;
    width: 100%;
    max-width: 700px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

  }
  h1{
    font-size: 30px;
    margin: 2px;
    text-align: center;
    color: bisque;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 10px;
  }
  


